@model BandsApp.Webb.Models.Band
@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

<img src="/images/@Model.ImageName" style="max-width: 300px;">
<h1>@Model.Name</h1>
<p>@Model.Description</p>