@model BandsApp.Webb.Models.Band
@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}


<article>

<h1>@Model.Name</h1>
<p>@Model.Description</p>
<img src="/images/@Model.ImageName" style="max-width: 300px;">

    <button class="contrast" onclick="history.back()">Go back</button>
</article>