@model BandsApp.Webb.Models.Band[]


<h1>Cool bands</h1>
<ul>
    @foreach (var band in Model)
    {
        <li>
            <a href="/Band/Details/@band.Id">@band.Name</a>

        </li>

    }


</ul>